# SoccerStack runtime path overrides

SOCCERSTACK_INPUT_VIDEO=
SOCCERSTACK_OUTPUT_DIR=output

SOCCERSTACK_CODETR_CONFIG=Co-DETR/projects/configs/co_dino/co_dino_5scale_lsj_swin_large_3x_coco.py
SOCCERSTACK_CODETR_CHECKPOINT=Co-DETR/checkpoints/co_dino_5scale_lsj_swin_large_3x_coco.pth

SOCCERSTACK_PARSEQ_CKPT=parseq/models/soccernet_parseq.ckpt
SOCCERSTACK_ZZPM_WEIGHTS_DIR=models/zzpm_weights
